<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "USER.REGISTRATION.TITLE" | translate }}</mat-card-title>

    <mat-card-subtitle *ngIf="error">
      {{ "USER.REGISTRATION.ERROR.TEXT" | translate }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="form">
    <form [formGroup]="form" (submit)="onFormSubmit()">
      <mat-form-field
        [ngClass]="{
          'mb-15':
            form.get(controlNames.name)?.touched &&
            form.get(controlNames.name)?.invalid
        }"
      >
        <mat-label>{{ "USER.REGISTRATION.NAME.LABEL" | translate }}</mat-label>
        <input
          matInput
          [maxlength]="controlMaxLengths.name"
          [formControlName]="controlNames.name"
        />
        <mat-error *ngIf="form.get(controlNames.name)?.hasError('required')">
          {{ "USER.REGISTRATION.NAME.REQUIRED.ERROR" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        [ngClass]="{
          'mb-15':
            form.get(controlNames.password)?.touched &&
            form.get(controlNames.password)?.invalid
        }"
      >
        <mat-label>{{
          "USER.REGISTRATION.PASSWORD.LABEL" | translate
        }}</mat-label>
        <input
          matInput
          type="password"
          [maxlength]="controlMaxLengths.password"
          [formControlName]="controlNames.password"
        />
        <mat-error
          *ngIf="form.get(controlNames.password)?.hasError('required')"
        >
          {{ "USER.REGISTRATION.PASSWORD.REQUIRED.ERROR" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        [ngClass]="{
          'mb-15':
            form.get(controlNames.email)?.touched &&
            form.get(controlNames.email)?.invalid
        }"
      >
        <mat-label>{{ "USER.REGISTRATION.EMAIL.LABEL" | translate }}</mat-label>
        <input
          matInput
          [maxlength]="controlMaxLengths.email"
          [formControlName]="controlNames.email"
          required
        />
        <mat-error *ngIf="form.get(controlNames.email)?.hasError('required')">
          {{ "USER.REGISTRATION.EMAIL.REQUIRED.ERROR" | translate }}
        </mat-error>
        <mat-error *ngIf="form.get(controlNames.email)?.hasError('email')">
          {{ "USER.REGISTRATION.EMAIL.INVALID.ERROR" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field
        [ngClass]="{
          'mb-15':
            form.get(controlNames.bio)?.touched &&
            form.get(controlNames.bio)?.invalid
        }"
      >
        <mat-label>{{
          "USER.REGISTRATION.BIOGRAPHY.LABEL" | translate
        }}</mat-label>
        <textarea
          matInput
          rows="4"
          [maxlength]="controlMaxLengths.bio"
          [formControlName]="controlNames.bio"
        ></textarea>
        <mat-error *ngIf="form.get(controlNames.bio)?.hasError('required')">
          {{ "USER.REGISTRATION.BIOGRAPHY.REQUIRED.ERROR" | translate }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">
        {{ "USER.REGISTRATION.SUBMIT.TEXT" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
