mat-card {
  border: 0;
  border-radius: 0;
  box-shadow: none;

  mat-card-title {
    margin-top: 20px;
    text-align: center;
  }

  mat-card-subtitle {
    text-align: center;
    color: red;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  mat-form-field {
    width: 100%;

    mat-error {
      margin-bottom: 10px;
    }
  }

  button {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
}
