div.content-container {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/plant-bg.jpg") no-repeat center fixed;
  background-size: cover;
}

div.content {
  width: 100%;
  max-width: 500px;
  height: 90vh;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  border-radius: 0;
}
